/* =========================
   Variables
========================= */
:root {
  /* base colors */
  --coal: #0c0908;
  --blue: #c1ddf6;
  --purple: #B5B9ED;
  --dark-purple: #2330CE;
  --pink: #ffbfe0;
  --yellow: #dffd95;
  --green: #80AEA1;
  --dark-green: #276151;
  --turqouise: #edffff;
  --neutral-beige: #e3e2d9;
  --light-beige: #faf9f7;
  --pink-linear-gradient: linear-gradient(183deg, var(--light-beige, #faf9f7) 4.06%, var(--secondary-pink, #FFBFE0) 154.3%);
  --pink-conic-gradient: conic-gradient(from 192deg at 50% 56.55%, var(--accent, #FFBFE0) 20.769230872392654deg, var(--light-beige, #faf9f7) 118.80000472068787deg, var(--accent, #FFBFE0) 200.76922416687012deg, var(--light-beige, #faf9f7) 276.9230818748474deg, var(--accent, #FFBFE0) 360deg);
  --blue-conic-gradient: conic-gradient(from 192deg at 50% 56.55%, var(--primary-blue, #CAD9FF) 20.769230872392654deg, var(--light-beige, #faf9f7) 118.80000472068787deg, var(--primary-blue, #CAD9FF) 200.76922416687012deg, var(--light-beige, #faf9f7) 276.9230818748474deg, var(--primary-blue, #CAD9FF) 360deg);
  --turqouise-conic-grafient: conic-gradient(from 192deg at 50% 56.55%, var(--turqouise) 20.769230872392654deg, var(--light-beige, #faf9f7) 118.80000472068787deg, var(--turqouise) 200.76922416687012deg, var(--light-beige, #faf9f7) 276.9230818748474deg, var(--turqouise) 360deg);

  /* main colors */
  --primary-main: var(--neutral-beige);
  --secondary-main: var(--blue);
  --accent: var(--pink);
  --extra-accent: var(--yellow);

  /* project colors */
  --primary-myeachtrax: var(--green);
  --secondary-myeachtrax: var(--purple);

  --primary-academy: var(--blue);
  --secondary-academy: var(--turqouise);


  /* base-colors */
  --background-color: var(--light-beige);
  --heading-color: var(--coal);
  --text-color: var(--coal);

  /* sizes */
  --max-width: 1200px;
  --border-radius: 8px;
  --transition-speed: 0.6s;
}

/* =========================
   Base styles
========================= */
body {
  font-family: "Source Sans Pro", sans-serif;
  color: var(--text-color);
  line-height: 1.6;
  margin: 0;
  background-color: var(--background-color);
}

main {
  background-color: var(--background-color);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--heading-color);
  margin-top: 0.5rem !important;
  margin-bottom: 1rem !important;
}

h1 {
  font-weight: normal !important;
  font-size: 3.5rem !important;
}

h2 {
  line-height: 2rem !important;
}

p {
  margin-bottom: 1rem !important;
  line-height: 2rem;
}


a {
  color: var(--coal) !important;
  text-decoration: none;
}

a:hover {
  color: var(--text-color) !important;
  text-decoration: underline;
}

hr {
  color: var(--neutral-beige);
}

.text-patch {
  color: var(--dark-purple);
  font-weight: 600;
}

.extra-small-text {
  font-size: 14px;
}

/* =========================
   Images
========================= */

img {
  width: 100%;
  height: 60vh;  
  object-fit: contain; 
}

.image-hover {
    transition: transform 0.3s ease; /* gjør animasjonen myk */
}

.image-hover:hover {
    transform: scale(1.05); /* gjør bildet 5% større */
}

/* =========================
   Layout
========================= */

.app-container {
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
}

.section-container {
  max-width: var(--max-width);
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 6rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* =========================
   Components
========================= */
/* Badges */
.custom-badge {
  display: flex;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: var(--neutral-beige);
  color: var(--text-color) !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

/* Buttons */
.btn-primary-custom {
  background-color: var(--accent) !important;
  color: var(--coal) !important;
  border: none !important;
  padding: 4px 8px !important;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn-primary-custom:hover {
  background-color: var(--coal) !important;
  color: var(--light-beige) !important;
}

.btn-secondary-custom {
  background-color: var(--light-beige) !important;
  color: var(--coal) !important;
  border: none !important;
  padding: 4px 8px !important;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn-secondary-custom:hover {
  background-color: var(--accent) !important;
  color: var(--text-color) !important;
}

/* =========================
   Navbar
========================= */

/* Navbar */
#nav-bar {
  position: sticky;
  top: 0;
  background-color: var(--background-color);
  height: 70px;
  width: 100%;
  z-index: 10;
}

#nav-bar a {
  padding: 5px 10px;
  color: var(--coal);
  text-decoration: none;
  border-radius: 4px;
  background-color: transparent;
}

#nav-bar a:hover {
  background-color: var(--neutral-beige);
  text-decoration: underline;
}

#logo a:hover {
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
}


/* =========================
    Main Page
========================= */

/* Hero Section */
#hero-main {
  height: 80vh;
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Teaser Card */
#teaser-card {
  --expand-progress: 0;
  position: relative;
  top: -30px;
  margin: 0 auto;
  padding-top: 300px;
  width: calc(80% + (20% * var(--expand-progress)));
  background-color: var(--neutral-beige);
  border-radius: calc(12px * (1 - var(--expand-progress)));
  box-shadow: 4px 8px 30px rgba(0,0,0,calc(0.25 * (1 - var(--expand-progress))));
  overflow: hidden;
  transition: width 0.3s linear, height 0.1s linear, background-color 0.5s ease;
  z-index: 1;
}

#teaser-card.expanded {
  position: sticky;
  top: 0;
  width: 100%;
  height: auto;
  border-radius: 0;
  box-shadow: none;
}

/* Aboutme Section */
#aboutme-description {
  padding: 0; /* mobile-first */
}

/* Project Section */
.project-description {
  padding: 0; /* mobile-first */
}

/* Expertise Section */
#expertise-section h6, .row {
  margin-bottom: 0px !important;
}

.expertise-type {
  font-weight: normal;
  margin-bottom: 0.1rem;
}



/* =========================
    Projects Page
========================= */

/* hero */
.hero-image {
  width: 100%;
  max-height: 75vh;
  min-height: 75vh;
  padding: 3rem;
  display: flex;
  border-radius: var(--border-radius);
  justify-content: center;
  align-items: center;
}

.hero-image img {
  max-width: 100%;
  max-height: 60vh;
}

/* details */

.details-wrapper {
  position: sticky;
  top: 70px;
  z-index: 2;
}

.details-summary {
  background-color: var(--neutral-beige);
  border-radius: var(--border-radius);
  padding: 1rem;
}

.details-summary .custom-badge {
  background-color: var(--light-beige);
}

.details-summary.collapsible {
  max-height: 20vh;      
  overflow: hidden;
  transition: max-height 0.5s ease;
  position: relative;
  display: flex;
  flex-direction: column;
}

.details-summary.collapsible.expanded {
  max-height: 100vh;     
  background: var(--neutral-beige);
}

.details-summary.collapsible.expanded .badge-overlay {
  display: none;
}

.details-summary.collapsible .badge-list,
.details-summary.collapsible p {
  flex: 1 1 auto;
}

.details-summary .toggle-collapse {
  margin-top: 1rem;
  background-color: var(--light-beige);
  color: var(--coal);
  cursor: pointer;
  border: none;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
}

.badge-wrapper {
  position: relative;
}

.badge-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60%;
  background: linear-gradient(to bottom, rgba(227, 226, 217, 0) 0%, var(--neutral-beige) 100%);
  pointer-events: none;
}

/* design views */

.design-view {
  max-height: 80vh !important;
  border-radius: var(--border-radius);
  /* background: conic-gradient(from 192deg at 50% 56.55%, #B5B9ED 20.769230872392654deg, var(--Light-beige, #F4F4EF) 118.80000472068787deg, #B5B9ED 200.76922416687012deg, var(--Light-beige, #F4F4EF) 276.9230818748474deg, #B5B9ED 360deg); */
}

.design-view img {
  height: 50vh !important;  
}


/* scroll container */

.scroll-container {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

.scroll-text {
  flex: 1;
}

.scroll-text section {
  min-height: 80vh; /* hver seksjon fyller nesten en skjermhøyde */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.scroll-phone {
  flex: 1;
  position: sticky;
  top: 20vh; /* gjør at iPhone-skjermen "låser seg" */
}


/* Not working yet */
/*
 =========================
   Media Queries
========================= 
@media (max-width: 600px) {
  h1 {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  p {
    font-size: 0.95rem;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.25rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }

  nav ul {
    flex-direction: row;
    gap: 2rem;
  }

  #aboutme-description {
    padding: 3rem;
  }

  .project-description {
    padding: 3rem;
  }

  #aboutme-section .d-flex {
    flex-direction: row;
    text-align: left;
  }
}

@media (max-width: 992px) {
  #hero-main {
    height: auto;
    padding: 4rem 1rem;
  }

  .teaser-card {
    width: 95%;
    top: -20px;
  }

  .section-container {
    padding: 2rem 1rem;
  }
}

*/